@model IEnumerable<SecondSightWeb.Areas.Inventory.Models.ViewModel.ItemEntryListViewModel>


@*<script>
    $(document).ready(function () {
        $('#tbl_ItemEntryList').DataTable();
    });
</script>*@
@*<a href="@Url.Action("Create")" class="btn btn-danger"><span><i class="glyphicon glyphicon-plus"></i></span>Add Record</a>*@
<table class="table table-striped " id="tbl_ItemEntryList">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Qty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Qty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a href="@Url.Action("Edit",new { id=item.PODId})" class="btn btn-primary btn-xs"><i class="glyphicon glyphicon-floppy-save"></i></a>
                @*<a href="@Url.Action("Delete",new { id=item.PODId})" class="btn btn-danger btn-xs"><i class="glyphicon glyphicon-trash"></i></a>*@
            </td>
        </tr>
    }

</table>

